.modal {
  .modal-dialog {
    .modal-content {
      .modal-header {
        .btn-close{
          &:focus {
            box-shadow: none;
          }
        }
        padding-bottom: 9px !important;
        padding-left: 8px;
        .nav-tabs {
          .nav-link {
            padding-bottom: 15px;
            font-weight: 500;
            color: #4b566b;
            border: 0px solid transparent;
            transition: all 0.1s ease-in-out;
            &:hover {
              font-weight: 700;
              color: rgb(212, 132, 250);
            }
          }
          .nav-link.active {
            color: rgb(164, 49, 218);
            font-weight: 700;
            background-color: transparent;
            border-bottom: 0.1px solid rgb(230, 176, 255);
          }
        }
      }
      .modal-body {
        .form-label {
          font-weight: 500;
          color: rgb(151, 151, 151);
        }
      }
    }
  }
}
