<footer>
    <div class="container-fluid border-bottom border-bottom-custom-footer contenedor-1">
      <div class="container">

        <div class="row enlaces-footer d-flex justify-content-center">

          <div class="col-12 col-md-2">

            <h4 class="d-none d-md-block text-white mb-3">Bootstrap</h4>
            <ul class="d-none d-md-block list-unstyled list-inline">
              <li class="list-inline-item">
                <a href="#"><i class="fab fa-facebook-f text-muted"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#"><i class="fab fa-twitter text-muted"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#"><i class="fab fa-instagram text-muted"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#"><i class="fab fa-linkedin-in text-muted"></i></a>
              </li>
            </ul>

            <a class="mb-3 dropdown-toggle enlacedropdown d-block d-md-none text-center" data-bs-toggle="collapse" href="#collapseEnlacesFooter1" role="button" aria-expanded="false" aria-controls="collapseExample">Bootstrap</a>
            <div class="collapse text-center" id="collapseEnlacesFooter1">
              <div class="card card-body dropdown-contenedor p-0" style="background: none;">
                <ul class="list-unstyled list-inline">
                  <li class="list-inline-item">
                    <a href="#"><i class="fab fa-facebook-f text-muted"></i></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#"><i class="fab fa-twitter text-muted"></i></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#"><i class="fab fa-instagram text-muted"></i></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#"><i class="fab fa-linkedin-in text-muted"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          
          </div>

          <div class="col-12 col-md-2">

            <h4 class="mb-3 d-none d-md-block text-white">Soporte</h4>
            <ul class="list-unstyled d-none d-md-block mb-5 mb-sm-0">
              <li>
                <a class="text-muted text-decoration-none" href="#" [routerLink]="['/contactus']">Contactanos</a>
              </li>
              <li>
                <a class="text-muted text-decoration-none" href="#" [routerLink]="['/info/faqs']" [routerLinkActive]="'active'">FAQs</a>
              </li>
            </ul>

            <a class="mb-3 dropdown-toggle enlacedropdown d-block d-md-none text-center" data-bs-toggle="collapse" href="#collapseEnlacesFooter2" role="button" aria-expanded="false" aria-controls="collapseExample">Soporte</a>
            <div class="collapse text-center" id="collapseEnlacesFooter2">
              <div class="card card-body dropdown-contenedor p-0" style="background: none;">
                <ul class="list-unstyled">
                  <li class="list-item">
                    <a href="#" class="text-muted text-decoration-none" [routerLink]="['/contactus']">Contactanos</a>
                  </li>
                  <li class="list-item">
                    <a href="#" class="text-muted text-decoration-none" [routerLink]="['/info/faqs']" [routerLinkActive]="'active'">FAQs</a>
                  </li>
                </ul>
              </div>
            </div>

          </div>

          <div class="col-12 col-md-2">

            <h4 class="mb-3 d-none d-md-block text-white">Empresa</h4>
            <ul class="list-unstyled d-none d-md-block mb-5 mb-sm-0">
              <li>
                <a class="text-muted text-decoration-none" href="#" [routerLink]="['/info/aboutus']" [routerLinkActive]="'active'">Nosotros</a>
              </li>
              <li>
                <a class="text-muted text-decoration-none" href="#" [routerLink]="['/info/associates']" [routerLinkActive]="'active'">Asociados</a>
              </li>
              <li>
                <a class="text-muted text-decoration-none" href="#" [routerLink]="['/info/termsconditions']" [routerLinkActive]="'active'">Terminos &amp; Condiciones</a>
              </li>
              <li>
                <a class="text-muted text-decoration-none" href="#" [routerLink]="['/info/privacity']" [routerLinkActive]="'active'">Politicas De Privacidad</a>
              </li>
            </ul>

            <a class="mb-3 dropdown-toggle text-center enlacedropdown d-block d-md-none" data-bs-toggle="collapse" href="#collapseEnlacesFooter3" role="button" aria-expanded="false" aria-controls="collapseExample">Empresa</a>
            <div class="collapse text-center" id="collapseEnlacesFooter3">
              <div class="card card-body dropdown-contenedor p-0" style="background: none;">
                <ul class="list-unstyled">
                  <li class="list-item">
                    <a href="#" class="text-muted text-decoration-none" [routerLink]="['/info/aboutus']" [routerLinkActive]="'active'">Nosotros</a>
                  </li>
                  <li class="list-item">
                    <a href="#" class="text-muted text-decoration-none" [routerLink]="['/info/associates']" [routerLinkActive]="'active'">Asociados</a>
                  </li>
                  <li class="list-item">
                    <a href="#" class="text-muted text-decoration-none" [routerLink]="['/info/termsconditions']" [routerLinkActive]="'active'">Terminos &amp; Condiciones</a>
                  </li>
                  <li class="list-item">
                    <a href="#" class="text-muted text-decoration-none" [routerLink]="['/info/privacity']" [routerLinkActive]="'active'">Politicas De Privacidad</a>
                  </li>
                </ul>
              </div>
            </div>

          </div>

          <div class="col-12 col-md-2">

            <h4 class="mb-3 text-white d-none d-md-block">Contacto</h4>
            <ul class="list-unstyled mb-0 d-none d-md-block">
              <li>
                <a class="text-muted text-decoration-none" href="#">1-202-555-0105</a>
              </li>
              <li>
                <a class="text-muted text-decoration-none" href="#">1-202-555-0106</a>
              </li>
              <li>
                <a class="text-muted text-decoration-none" href="#">help@asociacion.com</a>
              </li>
            </ul>

            <a class="mb-3 dropdown-toggle text-center enlacedropdown d-block d-md-none" data-bs-toggle="collapse" href="#collapseEnlacesFooter4" role="button" aria-expanded="false" aria-controls="collapseExample">Contacto</a>
            <div class="collapse text-center" id="collapseEnlacesFooter4">
              <div class="card card-body dropdown-contenedor p-0" style="background: none;">
                <ul class="list-unstyled">
                  <li class="list-item">
                    <a href="#" class="text-muted text-decoration-none">1-202-555-0105</a>
                  </li>
                  <li class="list-item">
                    <a href="#" class="text-muted text-decoration-none">1-202-555-0106</a>
                  </li>
                  <li class="list-item">
                    <a href="#" class="text-muted text-decoration-none">help@asociacion.coms</a>
                  </li>
                </ul>
              </div>
            </div>

          </div>

        </div>
        
      </div>
    </div>
    
    <div class="container contenedor-2">
      <div class="row">
        <div class="col">
          <p class="mb-3 mb-md-0 fw-light text-muted">
            © 2021 All rights reserved. Designed by ItizTeam.
          </p>
        </div>
        <div class="col-auto">
          <img class="metodopago-icon" src="../../../../../assets/images/icons/payment/paypal-f.svg" alt="...">
          <img class="metodopago-icon" src="../../../../../assets/images/icons/payment/mastercard square.svg" alt="...">
          <img class="metodopago-icon" src="../../../../../assets/images/icons/payment/visa-f.svg" alt="...">
          <img class="metodopago-icon" src="../../../../../assets/images/icons/payment/mp-f.svg" alt="...">
        </div>
      </div>
    </div>
</footer>