.navbar-tool {
  display: flex;
  align-items: center;
  .navbar-tool-icon-box {
    position: relative;
    width: 2.875rem;
    height: 2.875rem;
    line-height: 2.625rem;
    text-align: center;
  }
  .navbar-tool-icon {
    color: #ffffff;
    font-size: 1.9rem;
    line-height: 2.8rem;
  }
  .navbar-tool-text {
    color: #ffffff;
    flex-grow: 0;
    flex-shrink: 0;
    padding-left: 0.875rem;
    font-size: 0.85rem;
    text-decoration: none !important;
    white-space: nowrap;
    margin-left: -0.5rem !important;
  }
  .navbar-tool-label {
    position: absolute;
    top: -0.3rem;
    right: -0.01rem;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background-color: #ff4b4b;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 500;
    text-align: center;
    line-height: 1.25rem;
  }
}

.btn-accountOnline {
  .navbar-tool-icon-box {
    img {
      border-radius: 100%;
    }
  }
  .navbar-tool-text {
    .dropdown {
      #dropdownOnline {
        background-color: none;
        color: rgb(255, 255, 255);
        font-size: 0.85rem;
        &:focus {
          box-shadow: 0 0 15px 0 rgba(60, 60, 60, 0.5);
        }
      }
    }
  }
}

@media (max-width: 456px) {
  .navbar-tool {
    .navbar-tool-icon {
      font-size: 1.5rem;
      line-height: 2.8rem;
    }
    .navbar-tool-text {
      font-size: 0.8rem;
    }

  }
}   