<form class="py-5 px-0 px-sm-1 px-md-2 px-lg-3 px-xl-5 animate__animated animate__fadeIn" [formGroup]="customerCredentialsForm" (ngSubmit)="updateCredentialsCustomer()">
    <div class="mb-3">
        <label class="form-label user-label" for="passwdold">Contraseña Antigua</label>
        <input appBlockCopyPaste class="form-control" type="password" id="passwdold" name="passwdOld" formControlName="passwdOld">
    </div>

    <div class="mb-3">
        <label class="form-label user-label" for="passwdnew">Contraseña Nueva</label>
        <input appBlockCopyPaste class="form-control" type="password" id="passwdnew" name="passwdNew" formControlName="passwdNew">
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-8">
            <button type="submit" class="btn btn-purple d-block mx-auto">Actualizar</button>
        </div>
    </div>
</form>
