<section class="container-carousel d-none d-lg-block">
    <div class="splide">
        <div class="splide__track">
          <ul class="splide__list">
            <li class="splide__slide">
                <img src="https://picsum.photos/2000/1500" alt="" class="img-main">
            </li>
            <li class="splide__slide">
                <img src="https://picsum.photos/2000/1500" alt="" class="img-main">
            </li>
            <li class="splide__slide">
                <img src="https://picsum.photos/2000/1500" alt="" class="img-main">
            </li>
            <li class="splide__slide">
                <img src="https://picsum.photos/2000/1500" alt="" class="img-main">
            </li>
            <li class="splide__slide">
                <img src="https://picsum.photos/2000/1500" alt="" class="img-main">
            </li>
          </ul>
        </div>
    </div>
</section>

<section class="container my-5">
    <div class="row d-flex justify-content-between">
        <div class="col-12 col-lg-4 order-2 order-lg-1">
            <app-widgetcategories></app-widgetcategories>
        </div>
        <div class="col-12 col-lg-7 order-1 order-lg-2">
            <div class="row">
                <div class="col-12">
                    <app-productsByDate></app-productsByDate>
                </div>
                <div class="col-12">
                    <app-productsByName></app-productsByName>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <app-widgetsuscription></app-widgetsuscription>
        </div>
    </div>
</section>
