.widgets-container{
    .widget{
        a{
            padding: 0 !important;
            .card{
                padding: 0;
                margin-bottom: 0;
                border: none;
                img{
                    filter: brightness(0.8);
                    width: 100%;
                    height: 250px;
                    transition: filter .25s ease-in-out;
                }
                .card-img-special{
                    filter: brightness(0.4);
                    width: 100%;
                    height: 430px !important;
                    transition: filter .25s ease-in-out;
                }
                .card-img-overlay{
                    .card-title{
                        font-size: 30px;
                        letter-spacing: 5px;
                    }
                }
                .card-suscripcion-body{
                    top: 50%;
                    bottom: initial;
                    transform: translateY(-50%);
                    .btn-primary {
                        &:focus {
                            border:none;
                            box-shadow: 0 0 15px 0 rgba(60, 60, 60, 0.5);
                        }
                    }
                }
            }
            &:hover{
                .card{
                    img{
                        filter: brightness(0.65);
                    }
                }
            }
        }
    }
}