<div class="widgets-container">
    <div class="row mb-4 widget rounded-3 shadow">
        <a href="#">
            <div class="card bg-dark text-white">
                <img src="https://picsum.photos/2000/1500" class="card-img card-img-special img-fluid" alt="...">
                <div class="card-img-overlay card-suscripcion-body">
                    <h5 class="card-title">Suscripcion</h5>
                    <p class="card-text">Informacion acerca del sistema de suscripciones de la asoacion Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae ab in facilis unde facere distinctio non minus assumenda at rem.</p>
                    <div class="text-center">
                        <button class="btn btn-primary">Suscribirse</button>
                    </div>
                </div>
              </div>
        </a>
    </div>
</div>