<div class="widgets-container">
    <div class="row mb-4 widget rounded-3 shadow">
        <a href="#" [routerLink]="['/allservics']">
            <div class="card bg-dark text-white">
                <img src="https://picsum.photos/2000/1500" class="card-img img-fluid" alt="...">
                <div class="card-img-overlay d-flex justify-content-center align-items-center">
                    <h5 class="card-title">Servicios</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="row mb-4 widget rounded-3 shadow">
        <a href="#" [routerLink]="['/allproducts', 'Materia Prima']">
            <div class="card bg-dark text-white">
                <img src="https://picsum.photos/2000/1500" class="card-img img-fluid" alt="...">
                <div class="card-img-overlay d-flex justify-content-center align-items-center">
                    <h5 class="card-title">Materia Prima</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="row mb-4 widget rounded-3 shadow">
        <a href="#" [routerLink]="['/allproducts', 'Automotriz y Refacciones']">
            <div class="card bg-dark text-white">
                <img src="https://picsum.photos/2000/1500" class="card-img img-fluid" alt="...">
                <div class="card-img-overlay d-flex justify-content-center align-items-center">
                    <h5 class="card-title">Para Tu Auto</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="row mb-4 widget rounded-3 shadow">
        <a href="#" [routerLink]="['/allproducts', 'Ferreteria y Mejoras Del Hogar']">
            <div class="card bg-dark text-white">
                <img src="https://picsum.photos/2000/1500" class="card-img img-fluid" alt="...">
                <div class="card-img-overlay d-flex justify-content-center align-items-center">
                    <h5 class="card-title">Arregla Tu Hogar</h5>
                </div>
            </div>
        </a>
    </div>
    <div class="row mb-4 widget rounded-3 shadow">
        <a href="#" [routerLink]="['/allproducts', 'Belleza y Cuidado Personal']">
            <div class="card bg-dark text-white">
                <img src="https://picsum.photos/2000/1500" class="card-img img-fluid" alt="...">
                <div class="card-img-overlay d-flex justify-content-center align-items-center">
                    <h5 class="card-title">Para Tu Cuidado</h5>
                </div>
            </div>
        </a>
    </div>
</div>