<section class="container-lg p-custom">
    <div class="animate__animated animate__fadeIn" >
        <div class="row contact-container shadow">
    
            <div class="col-12 col-lg-5 py-5 p-lg-0 align-self-center column-contact">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-12 mb-5 text-center">
                        <img src="../../../../../assets/images/call-center-service.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-12 text-center">
                        <ul class="list-unstyled">
                            <li class="list-item mb-3">1-202-555-0105</li>
                            <li class="list-item mb-3">1-202-555-0106</li>
                            <li class="list-item">help@asociacion.com</li>
                        </ul>
                    </div>
                </div>
            </div>
    
            <div class="col-12 col-lg-7 py-5 px-md-5 column-form border border-1">
                <h1 class="text-center">Contacto</h1>
                <hr class="mb-5">
                <form>
                    <div class="row mb-5">
                        <div class="col-12 col-lg-6 mb-5 mb-lg-0">
                            <label for="name-contact" class="form-label">Nombre Completo</label>
                            <input type="text" class="form-control" id="name-contact" required>
                          </div>
                          <div class="col-12 col-lg-6">
                            <label for="email-contact" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email-contact" required>
                          </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-12">
                            <label for="subject-contact" class="form-label">Asunto</label>
                            <select class="form-select" id="subject-contact">
                                <option selected>Selecciona El Motivo De Tu Mensaje</option>
                                <option value="1">Queja</option>
                                <option value="2">Sugerencia</option>
                                <option value="3">Aclaración</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-12">
                            <label for="message-contact" class="form-label">Mensaje</label>
                            <textarea class="form-control" id="message-contact" rows="3" maxlength="200" placeholder="Maximo 200 caracteres"></textarea>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="col-auto">
                            <button class="btn btn-purple" type="submit" style="font-size: 18px !important;">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
