/*

@media (min-width: 374px) { 
    .offcanvas{
        bottom: -7%;
    } 
}

@media (min-width: 384px) { 
    .offcanvas{
        bottom: 0;
    } 
}

@media (min-width: 400px) { 
    .offcanvas{
        bottom: -5.5%;
    } 
}

@media (min-width: 768px) { 
    .offcanvas{
        bottom: -15%;
    } 
}

@media (min-width: 992px) { 
    .offcanvas{
        bottom: -18.5%;
    } 
}

@media (min-width: 1200px) { 
    .offcanvas{
        bottom: -13%;
    } 
}

@media (min-width: 1400px) { 
    .offcanvas{
        bottom: -10%;
    } 
}

@media (min-width: 2000px) { 
    .offcanvas{
        bottom: -20%;
    } 
}


*/